html {
  font-size: 16px;
  text-size-adjust: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: $blue;
}

p {
  margin: 1em 0;
  &.has-text-small {
    margin: 0.5em 0;
  }
}

.title {
  font-size: 1.375rem;
  margin: 0.5em 0 1em 0;
  font-weight: 700;

  &.is-3 {
    font-size: 1.125rem;
    margin: 0.83333em 0;
  }

  &.is-4 {
    font-size: 1rem;
    margin: 0;
  }
}

.sub-heading {
  margin-top: -0.5625rem;

  @include lg {
    margin-top: -0.875rem;
    margin-bottom: 0;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
