.button {
  display: inline-block;
  position: relative;
  min-height: 1.5em;
  border: 2px solid $blue;
  border-radius: 12px;
  padding: 0.5em 0.875em;
  outline: 0;
  text-decoration: none;
  background: #0069ed;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover,
.button:focus {
  color: white;
  background: adjust-color(#0069ed, $lightness: -4%);
  border-color: transparent;
}

.button.is-text {
  background: transparent;
  color: $blue;
  border: none;
  padding: calc(0.5em + 2px) calc(0.875em + 2px);

  &:hover,
  &:focus {
    background: $blue-lighter;
    color: $blue;
  }
}

.button.is-outlined {
  background: transparent;
  color: black;
  border-color: $grey-darker;
  &:hover,
  &:active,
  &:focus {
    border-color: adjust-color($grey-darker, $lightness: -12%);
  }
}

.button.is-rounded {
  border-radius: 15px;
}
