.card {
  background: #fff;
  box-shadow: 0 2px 24px -12px rgba(0, 0, 0, 0.5);
  color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
  position: relative;

  @include sm {
    margin-bottom: 1rem;
  }

  @include md {
    margin-bottom: 1.25rem;
  }

  @include lg {
    margin-bottom: 1.75rem;
  }

  img {
    border-radius: 18px 18px 0 0;
    height: 7.75rem;
    object-fit: cover;
    padding: 5px;
  }
}

.card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.25rem 1rem 0.75rem;

  p {
    margin: 0.3125rem 0 0.5rem;
  }

  .stars {
    font-size: 0.75rem;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.card.is-horizontal {
  flex-direction: row;

  img {
    border-radius: 18px 0 0 18px;
    height: 9rem;
    max-width: 9rem;
    min-width: 0;
    width: 9rem;
  }

  p {
    margin: 0.5em 0;
  }
}

.card.is-horizontal .card-body {
  padding: 1rem;

  .stars {
    margin-bottom: 0;
    margin-top: auto;
  }
}

