form {
  padding-top: 1.125rem;
}

.field {
  align-items: center;
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 1em;
  max-width: 26rem;
  position: relative;
  width: 100%;

  @include lg {
    font-size: 1.125rem;
  }

  &.has-icon .input {
    padding: 0.5rem 0.75em 0.5em 3.75em;
    padding: 0.5em 1.5em 0.5em 3.75em;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
  }

  &.has-icon > .icon {
    border-radius: 15px 0 0 15px;
    bottom: 0;
    left: 0;
    padding: 1.25em;
    position: absolute;
    top: 0;
  }

  &.has-button > button {
    align-self: stretch;
    border-radius: 15px;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    @include sm {
      border-radius: 0 15px 15px 0;
    }

    @include md {
      font-size: 1.125rem;
    }
  }

  &.is-fullwidth {
    max-width: 100%;
  }
}

.input {
  border: 1px solid $grey;
  border-radius: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75;
  max-width: 100%;
  padding: 0.5em 0.75em;
  width: 100%;
}

.input:hover,
.input:focus,
.input:active {
  border-color: adjust-color($grey, $lightness: -6%);
}

.input .icon {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

.input:hover,
.input:focus,
.input:active {
  + .icon {
    background: adjust-color($grey, $lightness: -6%);
    color: #000;
  }
}

.field.has-buttons-list {
  align-items: stretch;
  flex-direction: column;

  @include md {
    flex-direction: row;
    margin-top: 0.9375rem;
  }

  @include md {
    .button {
      font-size: 1.125rem;
    }
  }

  ul {
    margin-bottom: -0.75rem;
    margin-right: -0.75rem;
    @include md {
      margin-left: 2rem;
    }
  }

  .button {
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
  }
}

.checkbox.button {
  border-radius: 0 24px 24px 0;
  box-sizing: border-box;
  height: 3.125rem;
  margin-left: 1.5rem;
  padding-left: 2.3125rem;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: color;

  &::before {
    background: $blue-lighter;
    border-radius: 0 24px 24px 0;
    bottom: -2px;
    color: $blue;
    content: '';
    left: 0;
    position: absolute;
    right: -2px;
    top: -2px;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $grey-darker;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    transform: scaleX(1);
  }

  .circled-icon {
    align-items: center;
    background: $blue-lighter;
    border-radius: 100%;
    bottom: 0;
    color: $blue;
    display: inline-flex;
    height: 3.125rem;
    justify-content: center;
    left: -1.625rem;
    position: absolute;
    top: -2px;
    width: 3.125rem;
  }
}

.results-info {
  align-items: center;
  background: transparent;
  border: 1px solid $grey-darker;
  border-radius: 100%;
  color: $blue;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.75rem;
  height: 1.5rem;
  justify-content: center;
  margin-right: 0.75rem;
  width: 1.5rem;
}
