.container {
  position: relative;
  flex-grow: 1;
  width: auto;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @include desktop {
    //max-width: $desktop - $container-offset;
  }

  @include until-widescreen {
    //max-width: min($widescreen, $container-max-width) - $container-offset;
  }

  @include until-fullhd {
    //max-width: min($fullhd, $container-max-width) - $container-offset;
  }

  @include widescreen {
    //max-width: min($widescreen, $container-max-width) - $container-offset;
  }

  @include fullhd {
    //max-width: min($fullhd, $container-max-width) - $container-offset;
  }
}

.section {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  &.is-large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding: 0.75rem 0;

  li {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}
