.is-flex {
  display: flex;
  flex-direction: column;
}

.is-multiline {
  flex-wrap: wrap;
}

.is-row {
  flex-direction: row;
}

.has-items-center {
  align-items: center;
}

.has-items-baseline {
  align-items: baseline;
}

.has-text-large {
  font-size: 1.125rem;
}

.has-text-small {
  font-size: 0.875rem;
}

.has-text-bold {
  font-weight: 700;
}

.has-background-grey {
  background: $grey;
  color: black;
}

.is-hidden {
  display: none;
}

.is-hidden-sm {
  @include sm {
    display: none;
  }
}

.is-visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.is-inline-sm {
  @include sm {
    display: inline;
  }
}

.is-rounded {
  border-radius: 18px;
}

.is-right {
  float: right;
}

.clear {
  clear: both;
}

.stars {
  font-size: 0.75rem;

  .fa-star {
    color: $grey-darker;
    background: transparent;

    &.is-active {
      color: $blue;
      background: transparent;
    }
  }
}

.more {
  @include lg {
    margin-top: 0.5em;
    margin-bottom: 0.833333em;
  }
}
