.is-flex {
  display: flex;
  flex-direction: column;
}

.is-multiline {
  flex-wrap: wrap;
}

.is-row {
  flex-direction: row;
}

.has-items-center {
  align-items: center;
}

.has-items-baseline {
  align-items: baseline;
}

.is-text-large {
  font-size: 1.125rem;
}

.is-text-small {
  font-size: 0.875rem;
}

.has-text-bold {
  font-weight: 700;
}

.has-background-grey {
  background: $grey;
  color: #000;
}

.has-background-grey-lg {
  @include lg {
    background: $grey;
    color: #000;
  }
}

.is-hidden {
  display: none;
}

.is-hidden-sm {
  @include sm {
    display: none;
  }
}

.is-visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.is-inline-sm {
  @include sm {
    display: inline;
  }
}

.is-rounded {
  border-radius: 18px;
}

.is-rounded-lg {
  @include lg {
    border-radius: 18px;
  }
}

.is-right {
  float: right;
}

.clear {
  clear: both;
}

.fa-star {
  background: transparent;
  color: $grey-darker;

  &.is-active {
    background: transparent;
    color: $blue;
  }
}

.more {
  @include lg {
    margin-bottom: 0.833333em;
    margin-top: 0.5em;
  }
}

.mb-2-lg {
  @include lg {
    margin-bottom: 2rem;
  }
}

.is-clickable {
  position: relative;

  .main-link::after {
    content: '';
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
