.container {
  position: relative;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;

  @include lg {
    max-width: (1340 / 16) * 1rem + ($gap-lg * 2);
  }
}

.section {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  &.is-large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.box {
  background: $grey;
  color: black;
  padding: 1.5rem $gap;

  @include lg {
    padding: 2rem $gap-lg;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$gap;

  @include md {
    margin-left: -$gap-md;
  }

  @include lg {
    margin-left: -$gap-lg;
  }
}

.col {
  position: relative;
  width: 100%;
  padding-left: $gap;

  @include md {
    padding-left: $gap-md;
  }

  @include lg {
    padding-left: $gap-lg;
  }
}
