.container {
  flex-grow: 1;
  margin: 0 auto;
  padding-left: $gap;
  padding-right: $gap;
  position: relative;
  width: 100%;

  @include lg {
    max-width: (1340 / 16) * 1rem + ($gap * 2);
  }
}

.section {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;

  &.is-large {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}

.box {
  padding: 1.5rem $gap;

  @include lg {
    height: 100%;
    padding: 2rem $gap-lg;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$gap;

  @include md {
    margin-left: -$gap-md;
  }

  @include lg {
    margin-left: -$gap-lg;
  }
}

.col {
  padding-left: $gap;
  position: relative;
  width: 100%;

  @include md {
    padding-left: $gap-md;
  }

  @include lg {
    padding-left: $gap-lg;
  }
}

.col.is-6-sm {
  @include sm {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col.is-3-md {
  @include md {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col.is-4-md {
  @include md {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.col.is-4-lg {
  @include lg {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.col.is-8-lg {
  @include lg {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.col.is-12-lg {
  @include lg {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.is-first-lg {
  @include lg {
    order: -1;
  }
}
