/* Colors */
$grey: #f2f2f2;
$grey-darker: #d9d9d9;
$blue: #0065fc;
$blue-lighter: #deebff;

/* Breakpoints */
$gap: 1.25rem;
$container-offset: (2 * $gap);

$sm: 688px; // Tablet portrait (768px)
$md: 1024px; // Tablet landscape (1024px)
$lg: 1360px; // Desktop (1368px or 1440px)
