@import 'reset';
@import 'variables';
@import 'mixins';
@import 'base';
@import 'helpers';
@import 'button';
@import 'form';
@import 'cards';
@import 'layout';
@import 'header';
@import 'activities';
@import 'footer';

main {
  > .container {
    padding-left: 0;
    padding-right: 0;

    @include lg {
      padding-left: $gap;
      padding-right: $gap;
    }
  }
}
